---
import Social from "./Social.astro" 
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<p>Learn more about my projects on </p>
<footer>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="Alstudd" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>